// MIXIN: Calculate Font-Size
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// MIXIN: Font-Face
// REQUIRED: Each file must have the same name
@mixin font-face($name, $url) {
  @font-face {
    font-family: #{$name};
    src: url('#{$url}.eot#') format('embedded-opentype'),
         url('#{$url}.woff2') format('woff2'),
         url('#{$url}.woff') format('woff'),
         url('#{$url}.ttf') format('truetype'),
         url('#{$url}.svg##{$name}') format('svg');

    @content;
  }
}