// MIXIN: Create column
// REQUIRED: Define a variable $max-cols
// TIPP: Use border-box for each column
@mixin col($col, $max-cols: 12) {
  width: (100% / $max-cols) * $col;
}

// MIXIN: Push column
// REQUIRED: Define a variable $max-cols
@mixin col-push($col, $max-cols: 12) {
  margin-left: (100% / $max-cols) * $col;
}

// MIXIN: Pull column
// REQUIRED: Define a variable $max-cols
@mixin col-pull($col, $max-cols: 12) {
  margin-right: (100% / $max-cols) * $col;
}